{% extends "dragon/base.html" %}

{% block title %}{{ block.super }} - Add ClubMember{% endblock %}

{% block content %}
        <div class="mx-auto">
            <div class="card">
                <div class="card-body bg-light">          
                <h1>Add ClubMember</h1>
                <form action="" method="post">
                  {{ form.as_p }}
                  <input type="submit" value="Add Club Member">
                  {% csrf_token %}
                </form>
                </div>
            </div>
        </div>
{% endblock %}
