{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="ourForm">
    <h2 class="text-center mb-4">Login</h2>
    <form method="POST" action="{{ url_for('auth.login') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class_='form-control') }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(id_='password', class_='form-control') }}
        </div>
            {{ form.submit(class_="btn btn-dark") }}
    </form>
</div>
{% endblock %}
