{% extends "dragon/base.html" %}

{% block title %}{{ block.super }} - Members{% endblock %}

{% block content %}
  <h1>Members</h1>
  <h3>List</h3>
  <table style="width:100%">
    <tr>
      <th>Name</th>
      <th>Type</th>
    </tr>
    {% for clubmember in clubmembers %}
      <tr>
        <td><a href="{% url 'members:user_detail' user.id %}">{{ clubmember.FirstName }} {{ clubmember.Surname }}</a></td>
        <td>user</td>
      </tr>
    {% endfor %}
  </table>
  <h3>Add user</h3>
  <a href="{% url 'members:user_form' %}">Add User</a>
{% endblock %}