{% extends "dragon/base.html" %}

{% block title %}{{ block.super }} Admin Register{% endblock %}

{% block content %}
<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-b-160 p-t-50">
            <span class="login100-form-title p-b-43">
						Account Login
            </span>
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="FirstName" placeholder="FirstName" value="{{ clubmember.FirstName }}"><br>
                <input type="password" name="password" placeholder="password" value="{{ clubmember.username }}"><br>
                <input type = "Submit"> 
            </form>
            <div>
                {% for message in messages %}
                    <h3> {{message}} </h3>
                {% endfor %}
            </div>
        </div>
</div>
    
                         
{% endblock %}