{% extends "dragon/base.html" %}

{% block title %}{{ block.super }} - Sign In{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body bg-light">
                    <h5 class="card-title text-center text-dark">Sign In</h5>
                    <form action="" method="post" class="form-signin">
                      {% csrf_token %}
                      <div class="form-label-group">
                      <input class="form-control" type="text" name="FirstName" placeholder="FirstName" value="{{ clubmember.FirstName }}" required><br>
                      <input class="form-control" type="password" name="password" placeholder="password" value="{{ clubmember.username }}" required><br>
                      <input type = "Submit" class="btn btn-lg btn-primary btn-block text-uppercase"> 
                      {% for message in messages %}
                          <h3> {{message}} </h3>
                      {% endfor %}
                      </div>
                    </form>
                <div>
            </div>
        </div>
    </div>
</div>                       
{% endblock %}
