#item-details {
    margin: 0.5rem;
    padding: 0.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: 1px solid silver;
    border-radius: 0.5rem;
}

.item-img-container {
    padding: 0;
    margin: 0;
    border-bottom: 1px solid silver;
}

#book-img {
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    width: 65%;
}

.item-title-container {
    margin-top: 1rem;
}

#item-title {
    font-size: 1.5rem;
}

.item-attributes {
    border-left: 1px solid silver;
}

.attr-header {
    font-size: 1.25rem;
}

.attr-tags-container {
    border: 1px solid silver;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.cat-header {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.1rem;
}

#isbn-details {
    border-bottom: 1px solid silver;
}

.cat-value {
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
}

#book-isbn {
    padding-top: 0.5rem;
}

#delete-item {
    margin: 1rem;
    padding: 0;
}

.item-delete-message {
    font-size: 0.75rem;
    font-weight: normal;
    color: grey;
}

#delete-button {
    font-size: 0.75rem;
    width: 10%;
}

/*  Media queries for mobile display  */
/*  Up to 576px wide displays, will be mobile  */
/*  As per Bootstrap 4's size viewport specifications  */
@media screen and (max-width: 576px) {
    #book-img {
        size: auto;
    }
    
    .item-attributes {
        border-left: none;
    }

    .attr-tags-container {
        border: none;
        margin-bottom: 1rem;
    }

    #isbn-details {
        border: none;
    }

    .attr-cell {
        border: none;
    }

    #book-isbn {
        padding-top: 0;
    }

    .cat-value {
        text-align: left;
    }

    #delete-button {
        font-size: 0.5rem;
        width: 66.7%;
    }
}

