<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Unigames{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <script src="https://kit.fontawesome.com/985e02c2ee.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'dragon/base_style.css' %}">
    {% block page-styles %}{% endblock %}
  </head>
  <body>
    <!-- Main Page Header  -->
    <div class="jumbotron" id="page-header">
      <h1 class="text-center text-md-left" id="header-text">Unigames</h1>
    </div>
    <!--  The Navbar for all pages  -->
    <nav class="navbar navbar-expand-md bg-custom sticky-top" id="page-navbar">
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#collapsible-nav">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="collapsible-nav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="text-center text-md-left nav-link" href="{% url 'index' %}">HOME</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-center text-md-left" href="#" id="AboutDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              INFO
            </a>
            <div class="dropdown-menu" aria-labelledby="libraryDropdown">
              <a class="dropdown-item text-center text-md-left" href="{% url 'committee' %}">Committee</a>
              <a class="dropdown-item text-center text-md-left" href="{% url 'life-members' %}">Life Members</a>
              <a class="dropdown-item text-center text-md-left" href="{% url 'roleplaying' %}">Roleplaying</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-center text-md-left" href="#" id="libraryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              LIBRARY
            </a>
            <div class="dropdown-menu" aria-labelledby="libraryDropdown">
              <a class="dropdown-item text-center text-md-left" href="{% url 'library:ALL' %}">All Items</a>
              <a class="dropdown-item text-center text-md-left" href="{% url 'library:books' %}">Books</a>
              <a class="dropdown-item text-center text-md-left" href="{% url 'library:games' %}">Games</a>
              <a class="dropdown-item text-center text-md-left" href="{% url 'library:cardgames' %}">Card Games</a>
            </div>
          </li>
        {% load templatefilters %}
        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse dual-collapse2">
        <ul class="navbar-nav ml-auto">  
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-center text-md-left" href="#" id="memberDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              MEMBERS
            </a>
            <div class="dropdown-menu" aria-labelledby="memberDropdown">
              {% if request.user|has_group:"Committee" or user.is_staff %} 
              <a class="dropdown-item text-center text-md-left" href="{% url 'members:clubmembers' %}">Club Members</a>
              <a class="dropdown-item text-center text-md-left" href="{% url 'members:nonmembers' %}">Non-Members</a>
              {% endif %}
              <a class="dropdown-item text-center text-md-left" href="/members/clubmember_form/">Add Members</a>
              <a class="dropdown-item text-center text-md-left" href="/members/nonmember_form/">Add Non-Members</a>
            </div>
          </li>
          {% if request.user|has_group:"Committee" or user.is_staff %} 
          <li class="nav-item">
              <a class="text-center text-md-left nav-link" href="/members/signout">SIGN OUT</a>
          </li>
          {% else %}
          <li class="nav-item">
              <a class="text-center text-md-left nav-link" href="/members/signin">SIGN IN</a>
          </li>
          {% endif %}
        </ul>
    </div>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
