{% extends "dragon/base.html" %}

{% block title %}{{ block.super }} - Committee{% endblock %}

{% block content %}
    <div class="col-12">

        <h1>The Unigames Committee</h1>

        <h2>2019 committee</h2>

        <p>
            <strong>President</strong>
            <br>Alaura Evans
        </p>

        <p>
            <strong>Vice President</strong>
            <br>Aoibhinn O'Shea
        </p>

        <p>
            <strong>Treasurer</strong>
            <br>Taylor Home
        </p>

        <p>
            <strong>Secretary</strong>
            <br>Donald Sutherland
        </p>

        <p>
            <strong>Librarian</strong>
            <br>Alistair Langton
        </p>

        <p>
            <strong>Fresher Rep</strong>
            <br>Amelia Shepherdson
        </p>

        <p>
            <strong>Ordinary Committee Members</strong>
            <br>Brett Fielding
            <br>Elana Kardol
            <br>Emerald Aindow
        </p>

        <p>
            <strong>Immediate Past President</strong>
            <br>Gavin Tay Fernandez
        </p>

        <p>
            To contact committee, email to <a href="mailto:uwaunigames@gmail.com">uwaunigames@gmail.com</a>.
            <br>Alternatively, email to <a href="mailto:unigames-owner@ucc.gu.uwa.edu.au">unigames-owner@ucc.gu.uwa.edu.au</a>.
        </p>

        <p>
            Thanks to everone who came to the AGM to elect the new committee, and the many absentee votes of those that
            didn't come.
            <br>We'll do our best to make 2019 a good year for Unigames.
        </p>
    </div>

{% endblock %}