{% extends "dragon/base.html" %}

{% block title %}{{ block.super }} - Frequently Asked Questions{% endblock %}

{% block content %}

    <h1>Unigames FAQ</h1>

    <h2>What is Unigames?</h2>

    <p>
        Unigames is UWA's gaming and roleplaying club. The club was formed in 1983, when two previous UWA clubs - 
        the Wargaming club and the Simulations Society - merged to form one club. Since then we have only grown 
        stronger, and although our focus often shifts rapidly from roleplaying to wargaming and back again, we 
        maintain a huge library so you can organise any and all of these activities whenever you like!
    </p>

    <h2>What can I do at Unigames</h2>

    <p>
        Play games! There are many <a href="{% url 'roleplaying' %}">roleplaying</a> campaigns in action at the 
        moment, held either weekly or fortnightly. Popular roleplaying systems at the moment include D&D (5th, 4th 
        and Pathfinder are most common), Dark Heresy (and family), nWoD, and Ad Eva 3.5 (giant robots!).
    </p>
    <p>    
        For the non-roleplayers, if you pick the right moment it's usually possible to tap the boundless energy of 
        Unigames hordes for Dominion, Settlers of Catan, Munchkin, Dead of Winter, X-COM or any of our other dozens 
        of boardgames. But if you get addicted, you may want to consider the statutory withdrawal dates for some or 
        all of your units! It's a case of choosing your poison - the Unigames library has a plethora of weird and 
        wonderful games in stock, some of which are used all the time, and some of which haven't been dusted off in 
        a decade. Who knows what you could find.
    </p>

    <h2>Where is the Unigames clubroom?</h2>

    <p>
        (The following directions are cheerfully borrowed from <a href="http://unisfa.gu.uwa.edu.au">UniSFA</a>.) 
        For a start, Unigames is located above the UWA (35 Stirling Hwy, Crawley) Tavern. If you don't know where 
        that is, just ask anyone you can find, wandering anywhere on campus. From standing in front of the Tavern, 
        facing the Tavern, walk left and follow the Tavern's fence around the corner. Keep wandering around this 
        wall of the Tavern until you hit an inset in the wall. The door facing away from the river is the entrance 
        to all the higher parts of Cameron Hall. If that doesn't help, you can also follow this 
        <a href="https://www.youtube.com/watch?v=V5BTEKh21mA&feature=youtu.be">handy video from our 2018 President 
        Gavin</a>.
    </p>
    <p>
        Once you've found the entrance to Cameron Hall, follow the stairs up to the second floor (i.e. two stories 
        up), walk past whatever club currently inhabits the first room, take the big doors and go straight ahead. 
        Ignore the glass doors to your right, and keep walking. Unigames is the first clubroom on the right.
    </p>
    <p>
        If you still fear getting lost inside the endless passages and and mirrored hallways of Cameron Hall, 
        there's a link to the left to a map of the second floor of the building, to put your mind at ease. Thanks 
        to Lisa Green and Mark Sander for letting us use their precious map.
    </p>

    <h2>When is Unigames open?</h2>
    <p>
        Whenever you can grab one of the gatekeepers by the arm and make them unlock the cabinet/clubroom which is 
        more or less whenever you want it to be. We are blessed with gatekeepers who have made Cameron Hall, the 
        location of the Unigames clubroom, their surrogate home, and it's unlikely one of them won't be around at 
        virtually any time you're likely to be. Of course, if you do hang around more than they do (and run 
        campaigns) you can apply for gate - just ask a committee member or gatekeeper for the form.
    </p>

    <h2>What discounts do I get?</h2>

    <p>
        One of the benefits of Unigames membership is a 10% discount on all materials at Tactics, Perth's premier 
        gaming supply store. Just show your membership card when you go to pay for things.
    </p>

{% endblock %}