{% extends "dragon/base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}
    <h1>Welcome to UniGames</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eleifend est magna, at interdum mi condimentum at.
        Etiam elementum, quam nec laoreet dapibus, magna arcu fringilla est, condimentum bibendum erat elit nec neque.
        Donec quis sollicitudin quam. In hac habitasse platea dictumst. Fusce hendrerit lacinia sagittis. Nulla molestie
        eros felis, sit amet tempor justo efficitur a. Vivamus aliquam justo sit amet efficitur fermentum. Fusce mattis,
        turpis ut venenatis pharetra, mi eros tristique leo, et fringilla erat est id est. Curabitur at ligula nec lacus
        ullamcorper bibendum quis ac metus. Mauris finibus dapibus semper. Vivamus ac molestie purus, ut scelerisque
        odio. Morbi eu bibendum justo. Donec id sem maximus, vulputate turpis commodo, egestas orci. Nulla blandit
        bibendum tellus, in accumsan turpis pellentesque sit amet.
    </p>
    <p>
        Phasellus at lobortis mi. Curabitur molestie tristique nunc in fringilla. Phasellus mollis, leo sit amet porta
        maximus, nibh odio finibus orci, sit amet fringilla orci massa vel ligula. Sed facilisis tincidunt venenatis. In
        sagittis semper pharetra. Nullam fermentum elit pulvinar lacus laoreet luctus. Donec tincidunt vitae dui sit
        amet
        semper. Aliquam id orci luctus, interdum velit a, efficitur erat. Aenean finibus est non odio fermentum dictum.
        Donec ac quam venenatis lorem sollicitudin mollis vitae ac diam.
    </p>
    <p>
        Nullam et justo ac augue luctus porttitor. In accumsan, dui at feugiat euismod, nisl eros venenatis tortor, vel
        condimentum sem augue sagittis turpis. Duis sem arcu, venenatis nec semper et, condimentum sit amet dolor. Nulla
        id
        nulla pharetra, congue dolor nec, pellentesque purus. Donec semper condimentum nisl, at euismod eros laoreet a.
        Vivamus finibus, mi in sollicitudin fermentum, urna urna luctus elit, posuere mattis augue velit a augue. Duis
        ullamcorper scelerisque molestie. Nunc et metus egestas, aliquet dui condimentum, accumsan eros.
    </p>
    <p>
        Pellentesque euismod velit sit amet ipsum rhoncus condimentum. Nulla et iaculis velit. Nulla malesuada neque id
        nisl
        tempus, vel finibus orci vestibulum. Pellentesque et urna sem. Cras euismod porttitor commodo. Curabitur
        condimentum
        elementum sapien in vulputate. Cras tempor pulvinar nibh, nec commodo nulla egestas id. Praesent risus dolor,
        sagittis sed diam quis, tincidunt dapibus ex. Integer suscipit at lorem sit amet ultricies. Etiam ut elit
        efficitur,
        rutrum odio in, mattis purus.
    </p>
    <p>
        Vestibulum a ante vitae odio tristique blandit. Duis ornare tortor non dolor elementum, quis ullamcorper risus
        varius. Nunc quis condimentum massa. Etiam massa diam, tempus sit amet enim at, aliquet ultricies nulla. Nullam
        at
        gravida augue. In posuere blandit felis eu lacinia. Maecenas rutrum mauris efficitur ante volutpat, sit amet
        ornare
        odio lacinia. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam sit
        amet
        tristique nunc. Mauris a porta urna. Curabitur fringilla, lectus id convallis sollicitudin, ipsum dolor pretium
        eros, vitae convallis tortor nisl non dolor. Cras condimentum ornare tortor a maximus. Nullam imperdiet
    </p>
{% endblock %}