{% extends "dragon/base.html" %}

{% block title %}{{ block.super }} - Roleplaying{% endblock %}

{% block content %}

    <h1>What is Roleplaying?</h1>

    <p>
        Simply put, roleplaying is a social activity where a group of people get together to tell a story. One 
        member of the group, often call the Storyteller or Gamemaster (GM), lays out the setting of the story, 
        including some elements of the plot. The rest of the group (referred to as players) each create and control 
        one of the main characters.
    </p>

    <p>
        So why do people enjoy roleplaying? There is no simple answer, but below are some of the reasons to try 
        roleplaying.
    </p>

    <h2>The Story</h2>

    <p>
        Whether the story is an epic tale on the scale of The Lord of the Rings, or simply the chronicle of the day-to-day 
        survival of a band of misfits, being involved in its creation is very rewarding. The best thing is that you don't 
        have to do all the work, and the ending is guaranteed to be a surprise.    
    </p>

    <h2>The Characters</h2>

    <p>
        Every character has a background and a personality. The challenge is to try and figure out what your 
        character would do in all of the situations they find themselves in. Psychology, anyone? Play the 
        characters well and the story takes care of itself.
    </p>

    <h2>The Drama</h2>

    <p>
        Those blessed with some dramatic ability can take this a step further. Rather than just telling everyone 
        what your character says, why not act it out? With players like this, roleplaying becomes impromptu voice 
        acting. The GM is the narrator, and also plays the extras. Of course there's no script so, just like those 
        improv skit shows, you'll have to figure it out as you go...
    </p>

    <h2>The Imagination</h2>
    <p>
        In many ways, roleplaying could simply be considered make believe for grown-ups. For the young at heart, 
        it can be a lot of fun to pretend you are someone and somewhere else. Whether it's an assassin in a 
        post-apocalyptic world of darkness, a novice mage in a land of high magic, or a freedom fighter in modern 
        Chechnya, letting your imagination take you away can always be great stress relief. Escapism at its very 
        best.
    </p>

    <h2>The Challenges</h2>

    <p>
        Any roleplaying story has obstacles created by the GM to give the players something to do. For some 
        roleplayers, the challenge of outsmarting the GM is half the fun. Depending on the setting the players might 
        have to figure out a complex logic puzzle before they can get to the ancient artifact, negotiate an 
        international peace treaty or do some detective work to figure out who killed the maid.
    </p>

    <h2>The Game</h2>

    <p>
        If a character tries to somersault over a burning car or survive a bar fight, do they succeed? This sort of 
        thing is often decided by the roll of a die, with a set of rules. So, if you ignore everything else, you 
        could view roleplaying as a complicated and dynamic board game. Create the ultimate character and rule the 
        universe! Or not. Certainly a lot more interesting than snakes and ladders.
    </p>

    <p>
        The Fun - When it all boils down to it, roleplaying is all about having fun. Get together with a bunch of 
        friends and spend an afternoon joking around.
    </p>

    <p>
        If you want to know more, come up to the clubroom, send the committee an email, or post to the 
        <a href="{% url 'contact-us' %}">mailing list or facebook</a>.
    </p>

{% endblock %}